<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>

<div class="order-summary jumbotron">
  <h4>Products count: <%= @product_count %></h4>
  <h4>Categories count: <%= @category_count %></h4>
</div>